@import '../../../public/scss/variables';
@import '../../../public/scss/mixins';

.header {
   @include title;
   height: 58px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   background-color: $base-color;
   padding-left: 24px;
}
